.modal__container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 4;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.473);
}

.modal {
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 5;
  width: 80%;
  max-width: 800px;
  overflow-y: auto;
}

.modal-show-enter {
  opacity: 0;
  visibility: hidden;
}

.modal-show-enter-active {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-out;
}

.modal-show-exit {
  opacity: 1;
  visibility: visible;
}
.modal-show-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.modal__dish {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 25px;
}

.modal__dish-details {
  flex: 0.35;
  margin-right: 10px;
}

.modal__dish-details > * {
  margin-bottom: 10px;
}

.modal__dish-details > h4 {
  font-size: 1.6rem;
}

.modal__dish-details > p {
  font-size: 1.2rem;
  color: rgb(37, 37, 37);
  font-weight: 600;
}

.modal__dish-details > p:nth-child(3) {
  color: #454ae4;
  font-weight: bold;
}

.modal__dish-qty {
  display: flex;
  margin-top: 20px;
}

.modal__dish-qty > p {
  margin: 0 10px;
}

.modal__dish-image {
  flex: 0.6;
  min-width: 200px;
}

.modal__dish-image > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 250px;
}

.modal__dish-notes {
  display: flex;
  flex-direction: column;
  margin: 15px 0 30px;
}

.modal__dish-notes > label {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: left;
}

.modal__dish-button {
  text-align: center;
}

.modal__dish-button > button {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .modal {
    width: 90%;
    height: 500px;
  }

  .modal__dish-image > img {
    max-height: 180px;
  }
}

@media (max-width: 620px) {
  .modal__dish {
    flex-direction: column-reverse;
  }

  .modal__dish-details > h4 {
    margin-top: 20px;
  }

  .modal__dish-details > * {
    text-align: center;
  }

  .modal__dish-qty {
    justify-content: center;
  }
}

@media screen and (max-width: 350px) {
  .modal {
    padding: 10px;
    width: 98%;
  }

  .modal__dish-details {
    margin-right: 5px;
  }

  .modal__dish-details > h4 {
    font-size: 1.2rem;
  }

  .modal__dish-details > p {
    font-size: 0.95rem;
  }
}
